################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Drill_34/Drill_34/.vs/Drill_34/v15
/VariablesAndDataTypes/.vs/VariablesAndDataTypes/v15
/Drill_57/.vs/Drill_57/v15
/Drill_66/.vs/Drill_66
/Drill_67/.vs/Drill_67/v15
/Drill_75/.vs/Drill_75/v15
/Drill_92/.vs/Drill_92/v15
/Drill_94/.vs/Drill_94/v15
