################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Drill_34/Drill_34/.vs/Drill_34/v15
/VariablesAndDataTypes/.vs/VariablesAndDataTypes/v15
/Drill_57/.vs/Drill_57/v15
/Drill_66/.vs/Drill_66
/Drill_67/.vs/Drill_67/v15
/Drill_75/.vs/Drill_75/v15
/Drill_92/.vs/Drill_92/v15
/Drill_94/.vs/Drill_94/v15
/Drill_97/.vs/Drill_97/v15
/Drill_100_Arrays_and_Lists/.vs/Drill_100_Arrays_and_Lists/v15
/Drill_103/.vs/Drill_103/v15
/Drill_106/.vs/Drill_106/v15
/TwentyOne/.vs/TwentyOne/v15
/Drill_111/.vs/Drill_111/v15
/Drill_113/.vs/Drill_113/v15
/Drill_114/.vs/Drill_114/v15
/Drill_115/.vs/Drill_115/v15
/Drill_117/.vs/Drill_117/v15
/Drill_120/.vs/Drill_120/v15
/Dril_126/.vs/Dril_126/v15
/Drill_129/.vs/Drill_129/v15
/Drill_131/.vs/Drill_131/v15
/Drill_134/.vs/Drill_134/v15
/Drill_137/.vs/Drill_137/v15
