################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Drill_34/Drill_34/.vs/Drill_34/v15
